<p id="notice"><%= notice %></p>

<p>
  <h1><%= @clip.title %></h1>
  
</p>

<p>
  <%= sanitize@clip.eurl, :tags=>['iframe']%>
</p>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
